<h3 class="ui header">{{t "forms.i-i-s-test2-contact-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.firName
      class=(if (v-get validationObject "firName" "isInvalid") "error")
      label=(t "forms.i-i-s-test2-contact-e.firName-caption")
      data-test-i-i-s-test2-contact-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "firName" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.surName
      class=(if (v-get validationObject "surName" "isInvalid") "error")
      label=(t "forms.i-i-s-test2-contact-e.surName-caption")
      data-test-i-i-s-test2-contact-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "surName" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.secName
      class=(if (v-get validationObject "secName" "isInvalid") "error")
      label=(t "forms.i-i-s-test2-contact-e.secName-caption")
      data-test-i-i-s-test2-contact-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "secName" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test2-contact-e.contactType-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.contactType
      relationName="contactType"
      projection="ContactTypeL"
      title=(t "forms.i-i-s-test2-contact-e.contactType-caption")
      readonly=readonly
      componentName="contactTypeLookup"
      data-test-i-i-s-test2-contact-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "contactType" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.contactType.typeName
      class=(if (v-get validationObject "contactType.typeName" "isInvalid") "error")
      label=(t "forms.i-i-s-test2-contact-e.contactType.typeName-caption")
      data-test-i-i-s-test2-contact-e---------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "contactType.typeName" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test2-contact-e.phone-caption"}}</label>
    {{flexberry-groupedit
      componentName="phoneGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.phone
      content=model.phone
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "phone" "isInvalid") "error")
      data-test-i-i-s-test2-contact-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "phone" "messages")}}
  </div>
</form>